@font-face {
    font-family: 'Sega';
    src: url('./SEGA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Sega', sans-serif;
    font-size: 3rem;
    color: rgba(9, 104, 101, 1)
}